<!doctype html>
<html lang="en" class="size-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>CV</title>
        <script src="https://cdn.tailwindcss.com/3.4.1"></script>
        <script>
          tailwind.config = {
            theme: {
              extend: {
                fontFamily: {
                  lato: ['"Lato"', "sans-serif"]
                }
              }
            },
          }
        </script>
        <style>
            @page  {
                size: A4;
                margin: 0;
            }
            @tailwind base;
            @tailwind components;
            @tailwind utilities;
            @layer base {
                html {
                    font-family: Lato, system-ui, sans-serif!important;
                }
            }

            body {
                margin: 0;
                padding: 0;
                height: 100vh;
                display: flex;
                flex-direction: column;
            }

            .sidebar {
                height: 100%;
            }

            .content {
                height: 100%;
                flex: 1 0 auto;
                box-sizing: border-box;
            }
        </style>
    </head>
    <%
    const { personalData, educationList, workExperienceList, profile, languages, skills } = data;
    let mainColor = 'rgb(246, 235, 231)';
    let dividerColor = 'rgba(238, 217, 206, 0.5)';
    let fullName = helpers.getFullNameStr(personalData);
    let address = helpers.getFullAddress(personalData);
    let phone = personalData?.phone ? `+${personalData.phone}` : '';
    let email = personalData?.email ?? '';
    let birthDay = helpers.dateFormatter(personalData?.birtDate)
    const details = helpers._lodash_.filter([
        { icon: 'fa-solid fa-phone', value: phone },
        { icon: 'fa-solid fa-envelope', value: email },
        { icon: 'fa-solid fa-location-pin', value: address }
    ], (o) => {
      return !!o.value
    });

    const sections = helpers.getSections(data)
    const skillsSection = sections.find(el => el.sectionId === helpers.SECTION_ID.SKILLS);
    if(skillsSection) {
      helpers._lodash_.remove(sections, (el) => {
        return el.sectionId === helpers.SECTION_ID.SKILLS
      })
    }

    const getEducationStr = ({ institution, location, startYear, endYear }) => {
      const start = helpers.dateFormatter(startYear, 'yyyy');
      const end = helpers.dateFormatter(endYear, 'yyyy');
      const dateStr = [start, end].filter(el => !!el).join(`\u2013`)
      return [institution, location, dateStr].filter(el => !!el).join(' / ')
    }

    const getWorkStr = ({ company, location, startDate, endDate, stillWorking }) => {
        const start = helpers.dateFormatter(startDate, 'LLL yyyy');
        const end = stillWorking ? 'Еще работаю' : helpers.dateFormatter(endDate, 'LLL yyyy');
        const dateStr = [start, end].filter(el => !!el).join(`\u2013`)
        return [company, location, dateStr].filter(el => !!el).join(' / ')
    }

    const hasPhoto = () => !!photo

    const generateLangRating = ({ language, level }) => {
      const width = helpers.levelToPercent(level, 'lang')
      const label = `${language}\u2013${level}`
      return helpers.Rating(width, label, mainColor)
    }

    const generateSkillRating = ({ name, level }) => {
        const width = helpers.levelToPercent(level)
        return helpers.Rating(width, name, 'rgb(53, 53, 49)', undefined, 4)
    }

    %>
    <body>
        <div class="content grid grid-cols-12 size-full">
            <div class="sidebar col-span-3" style="background-color: <%=mainColor%>">
                <div class="mt-5 pt-3 px-6">
                    <%if (hasPhoto()) { %>
                        <div class="relative inline-block w-full text-center">
                            <img
                                    src="<%= photo %>"
                                    alt="avatar"
                                    class="relative inline-block h-36 w-36 !rounded-full object-cover object-center"
                            />
                        </div>
                    <% } %>
                    <div class="<%=hasPhoto() ? 'mt-6' : ''%>">
                        <% details.forEach((el,index) => {%>
                        <div class="flex items-center space-x-2 <%=index !== 0 ? 'mt-3' : ''%>">
                            <i class="<%=el.icon%>"></i>
                            <p class="text-pretty text-xs text-black"><%=el.value%></p>
                        </div>
                        <% }); %>
                    </div>
                    <hr class="h-1.5 w-100 bg-gray-100 border-0 rounded my-3" style="background-color: <%=dividerColor%>" />
                    <div>
                        <h2 class="text-center font-medium text-lg text-black uppercase tracking-wide text-black">Дата Рождения</h2>
                        <p><%=birthDay%></p>
                    </div>

                        <%if (!!skillsSection) { %>
                            <h2 class="text-center font-medium text-lg text-black uppercase tracking-wide text-black"><%=skillsSection?.sectionName%></h2>
                            <% skills.forEach(function(skill, skillIdx) { %>
                                <div class="<%=skillIdx !== 0 ? 'mt-6' : ''%>">
                                    <% skill.data.forEach(function(skillData, skillDataIdx) { %>
                                        <div class="pt-1 text-black font-normal text-base">
                                            <%-generateSkillRating(skillData)%>
                                        </div>
                                    <% }); %>
                                </div>
                            <% }); %>
                        <% } %>
                </div>
            </div>
            <div class="col-span-9 bg-white">
                <div class="mt-5 pt-3 pb-12 pl-6" style="background-color: <%=mainColor%>">
                    <h1 class="font-bold text-6xl text-black capitalize">
                        <%=fullName%>
                    </h1>
                </div>
                <div class="pl-6 pt-6">
                    <% sections.forEach((el,index) => {%>
                        <div class="<%=index !== 0 ? 'pt-10' : ''%>">
                            <h2 class="font-medium mb-2 text-lg text-black uppercase tracking-wide text-black"><%=el.sectionName%></h2>
                            <hr class="h-0.5 bg-gray-100 border-0 rounded" style="background-color: <%=mainColor%>">
                            <% switch (el.sectionId) {
                            case helpers.SECTION_ID.EDUCATION: %>
                                <% educationList.forEach(function(educ, educIdx) { %>
                                    <div class="pt-3 pr-6 text-black font-normal text-base">
                                        <h3 class="capitalize tracking-wide"><%= educ.degree %></h3>
                                        <p class="pt-1"><%=getEducationStr(educ)%></p>
                                        <%if (!!educ?.description) { %>
                                            <p class="pt-1"><%-educ.description%></p>
                                        <% } %>
                                    </div>
                                <% }); %>
                            <% break;
                            case helpers.SECTION_ID.WORK_EXPERIENCE: %>
                                <% workExperienceList.forEach(function(work, workIdx) { %>
                                    <div class="pt-3 pr-6 text-black font-normal text-base">
                                        <h3 class="capitalize tracking-wide"><%= work.jobPosition %></h3>
                                        <p class="pt-1"><%=getWorkStr(work)%></p>
                                        <%if (!!work?.description) { %>
                                            <p class="pt-1"><%-work.description%></p>
                                        <% } %>
                                    </div>
                                <% }); %>
                            <% break;
                            case helpers.SECTION_ID.PROFILE: %>
                                <div class="pt-3 pr-6 text-black font-normal text-base">
                                    <%if (!!profile?.summary) { %>
                                        <p class="pt-1"><%-profile.summary%></p>
                                    <% } %>
                                </div>
                            <% break;
                            case helpers.SECTION_ID.LANGUAGES: %>
                                <% languages.forEach(function(lang, langIdx) { %>
                                    <div class="pt-3 pr-6 w-2/4 text-black font-normal text-base">
                                        <%-generateLangRating(lang)%>
                                    </div>
                                <% }); %>
                            <% break;
                                default:
                                    break; } %>
                        </div>
                    <% }); %>
                </div>
            </div>
        </div>
    </body>
</html>